.display-none{display:none}
body{margin-top:40px;font-family:'Oxygen Mono',arial,sans-serif;text-align:center;margin:auto}
#headSection{background:#fff}
#mainSection{background:#fff}
#srcIcon{display:block;margin:auto;width:210px;height:210px}
#inputName{width:210px;font-family:'Oxygen Mono',arial,sans-serif}
#navSection{background:#8bcced url("https://d2h0j0bhq7ad3b.cloudfront.net/assets/home/dot-arrow-e6feccedcc9073737039ff2b891aaaec.png") no-repeat center 50px;padding-top:320px;padding-bottom:50px}
.footer{padding:10px 0;margin-top:10px;text-align:left}
.footer p{margin-bottom:0}
